# Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# Maven
target/

# IDEs
.idea/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Java
*.class

# Others
node_modules/
